<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592698331586-nk3r0a4eeue02vj7cdd5mg7dnnvg5e7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592698331586-nk3r0a4eeue02vj7cdd5mg7dnnvg5e7q</string>
	<key>API_KEY</key>
	<string>AIzaSyCyZF_lB1NWJFkAVBdw8tpHrtZL9tVt7A0</string>
	<key>GCM_SENDER_ID</key>
	<string>592698331586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>memoji-46df6</string>
	<key>STORAGE_BUCKET</key>
	<string>memoji-46df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592698331586:ios:818671b3122e709b2d065b</string>
</dict>
</plist>